{% extends 'users/base.html' %}

{% block title %}Activate Your Karam Fund Account{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title">Hello {{ user.first_name }},</h2>
                <p class="card-text">Thank you for registering on Karam Fund. Please click the link below to activate your account:</p>
                <p class="card-text"><a href="{{ activation_link }}" class="btn btn-primary">{{ activation_link }}</a></p>
                <p class="card-text">This link will expire in 24 hours.</p>
                <p class="card-text">If you did not request this, please ignore this email.</p>
                <p class="card-text">Best regards,</p>
                <p class="card-text">The Karam Fund Team</p>
            </div>
        </div>
    </div>
{% endblock %}